<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>com.jd.jtf.demo</id>
    <order>0</order>
    <extensionImpl-point id="de.vogella.extensionpoint.greeters"
                     name="Greeters"
                     desc="test"
                     author="kangyj">
        <extensions>
            <extensionImpl>com.jd.jtf.order.OrderInfo</extensionImpl>
            <extensionImpl>com.jd.jtf.order.TopLifeOrderInfo</extensionImpl>
        </extensions>
    </extensionImpl-point>
</plugin>